# Core ML / DL
torch==2.5.1
tensorflow==2.15.1
keras==2.15.0

# Data science
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.2
matplotlib==3.9.2
opencv-python==4.10.0.84

# ML workflow
mlflow==2.16.0
apache-airflow==2.9.3
kaggle==1.6.14